{% load socialaccount %}
{% providers_media_js %}
<html>
    <head>
        <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <title>Home - Google Registration</title>
    <body>

        {% if user.is_authenticated %}
        <a href="/">to root</a>
        {% endif %}

        <br>
        <a href="{% provider_login_url 'google' %}">Google Connect<br></a>
        <a href="{% provider_login_url 'naver' %}">Naver Connect<br></a>
        <a href="{% provider_login_url 'kakao' %}">Kakao Connect<br></a>
    </body>
</html>